.
    <script id="memberData" type="application/json">

    [
    {
    "order": 1,
    "pic": "assets2024/img/02_company/member-01.jpg",
    "job": "CCO/制作プロデューサー",
    "name": "森 正吾",
    "message": "WEBデザイナー ・コーダー としてWEB系ベンチャー企業でキャリアスタートし、株式会社antにてフロントエンドエンジニアとして大企業や官公庁のプロジェクトを経験。 その後、都内WEB系企業にて上場企業を中心に、ディレクション、商談、コンペ提案まで幅広く担当。 BtoB、サービス、IR、採用、イベント系、アプリ(webview)など幅広く経験。<br>COUNTERではクリエイティブと制作部門の統括を行っている。"
    },
    {
    "order": 3,
    "pic": "assets2024/img/02_company/member-17.png",
    "job": "ブランドグロースマーケター / ECコンサルタント",
    "name": "猿川 哲朗",
    "message": "株式会社CARDS 代表取締役<br>手県盛岡市出身。大学卒業後、地元岩手県で大手飲料メーカーでの営業や都内の人材系ベンチャーでの法人営業を行い、フィットネスD2Cメーカーに入社。ECマーケティングに携わり、年商60億円の成長に貢献。その後支援会社の事業立ち上げを経て、2023年に独立。支援実績は様々な事業規模の企業で100社以上。自らの事業主としての経験を活かし、クライアントのEC専売のブランドや商品の立ち上げから、数億単位の売上創出にも貢献している。"
    },
    {
    "order": 4,
    "pic": "assets2024/img/02_company/member-11.jpg",
    "job": "マーケター",
    "name": "大﨑 庸平",
    "message": "株式会社Hinotori 代表<br>慶應義塾大学商学部卒。学生時代にUSJ・森岡さんの講演とインターンを経てマーケターの道へ。シンガポールにてインターン後、PwCコンサルティングに新卒入社、その後コロナ禍に立ち上がったテーマパークSMALL WORLDS・アートアクアリウムでマーケティング部に参画。その後熊野古道に宿を建て集客をしながら地方創生事業を展開する不動産ディベロッパーにて、事業部長・広報室室長を兼任。 趣味はキャンプとサウナと地方旅館巡り。NHKおはよう日本や日経XTREND等のメディアで熊野古道関係の取材出演。 2024年3月 感情で旅するマッチングサイト Hinotori創業"
    },
    {
    "order": 5,
    "pic": "assets2024/img/02_company/member-17.jpg",
    "job": "マーケター",
    "name": "金田 修平",
    "message": "株式会社CYANd 代表<br>東京大学卒業後、金融機関に1年間在籍した後は一貫して広告運用を中心としたデジタルマーケティング支援業に従事。 戦略思考・マーケティング思考に基づいた独自の広告運用手法を追求し、フレームワークを確立。 再現性の高い広告効果を創り出し、継続的なマーケティング効果を生み出す組織構築を強みとする。"
    },
    {
    "order": 6,
    "pic": "assets2024/img/02_company/menber-14.png",
    "job": "マーケター",
    "name": "富田 竜介",
    "message": "株式会社TaTap 代表取締役<br>広告代理店と事業主4社経験後、SNSを活用したマーケティング支援企業を創業。企業向けSNSアカウント運用代行を行う。累計300アカウント/600万フォロワー以上のグロース実績。大手企業にて社内研修セミナーやSNS内製化などを手がける。 幻冬舎から『99％の経営者は知らない中小企業のための正しいSNSマーケティング』を出版。"
    },
    {
    "order": 7,
    "pic": "assets2024/img/02_company/member-12.jpg",
    "job": "SEOコンサルタント",
    "name": "酒井 元気",
    "message": "株式会社ANYCUL代表。<br>現在まで国内トップクラスのコンサルタント達と数々の小規模~大規模サービスのコンサルティングに従事。現在はANYCULにて、コンテンツSEOやデータベース型大規模サイトSEOを得意とするコンサルティングチームを統括。"
    },
    {
    "order": 8,
    "pic": "assets2024/img/02_company/member-16.png",
    "job": "Salesforce/Hubspotスペシャルスト",
    "name": "石川 直樹",
    "message": "株式会社ORIT.代表<br>大学卒業後にオーストラリアへの留学を経て、株式会社メルカリへ入社。新事業であるメルペイの立ち上げとメルカリグループ初の営業組織立ち上げを経験。その後、株式会社セールスフォースジャパンに転職し、主にスタートアップ企業へSaelsforceを基軸とした業務全般のDX化支援を行う。Salesforce社でトップセールスとしての経験を得て、2023年11月に当社設立をし、現在はSalesforce社とHubspot社の公式パートナーとしてCRM/SFAを基軸としたDX支援事業を展開"
    },
    {
    "order": 9,
    "pic": "assets2024/img/02_company/member-18.png",
    "job": "SNSディレクター",
    "name": "北風 和宏",
    "message": "Rocal代表取締役<br>2007年株式会社イノベーション入社。Web広告代理店事業責任者・自社マーケティング責任者を兼任後、2015年にフリーランスとして独立。 その後、家業を継ぐために福島に戻りつつも、株式会社ハタフルに2017年12月入社。 Web広告代理店事業を立ち上げ、2年間で福島を中心に約50社ほど地方企業様を支援し退職。 2020年7月に株式会社Rocalを創業し、全"
    },
    {
    "order": 10,
    "pic": "assets2024/img/02_company/member-02.jpg",
    "job": "ブランディングディレクター",
    "name": "青野 祐治",
    "message": "大学卒業後、ファッション系広告会社や博報堂を経てフリーランスのPRプランナー/編集者に。<br>その後、スタートアップでオウンドメディアの編集等を行う傍ら、循環型地域経済に興味を持ち、 2018年に複業で地元のローカルストーリーメディアを創刊。地場野菜のストーリーを“一杯のカレーで味わえる”「カップカレー」のプロデュースや地元の未来を考えるトークイベントを主催。 ローカルメディアの活動から得た経験をきっかけに複業として『染め文化の継承』と『衣類ロス削減』を目指すサービス「somete」を立ち上げ。 <br>Startup Studio by Creww、渋谷QWS、OPAアクセラレータープログラム2021 にプロジェクト採択。Gaiax StartupStudio 賞受賞。循環型経済をデザインするグローバル・アワード 「crQlr Awards(サーキュラー・アワード）2022」にて審査員賞を受賞。 <br>COUNTERではブランディングやPRを主に担当している。"
    },
    {
    "order": 11,
    "pic": "assets2024/img/02_company/member-20.png",
    "job": "クリエイティブディレクター",
    "name": "平尾 誠",
    "message": "フィリピンにて開発マネージャーとして赴任後、日本に帰国。主にコーポレートブランディングやブランドサイト制作を担当。 美容消費財を主に扱う、株式会社I-neにてブランディングを牽引後、2019年ARUTEGA設立。 青山学院大学履修証明プログラム修了ワークショップデザイナー。"
    },
    {
    "order": 12,
    "pic": "assets2024/img/02_company/member-08.png",
    "job": "アートディレクター",
    "name": "山田 高典",
    "message": "1974年生まれ。佐賀県出身。<br>九州芸術工科大学（現在は九州大学に統合）に進学。プログラムとデザインの面白さに目覚める。<br>リクルートコンピュータパブリシング（現在はリクルートコミュニケーションズ）でデジタル新規事業開拓を経験。<br><br>アートディレクターとしてWebサイトのト"
    },
    {
    "order": 13,
    "pic": "assets2024/img/02_company/member-09.png",
    "job": "アートディレクター/グラフィックデザイナー",
    "name": "松本 夏美",
    "message": "熊本県生まれ。<br>2017年より都内のクリエイティブスタジオにて、アートディレクター/グラフィックデザイナーとして活動。 <br>担当領域はブランディング、ロゴ/VI、グラフィック、Web、映像など。<br>BtoBのコーポレートサイトから、ファッション、NFTまであらゆるジャンルのデザインを得意としており、アートディレクター/グラフィックデザイナーとしてCOUNTERへ参画。"
    },
    {
    "order": 14,
    "pic": "assets2024/img/02_company/member-05.jpg",
    "job": "エンジニア",
    "name": "児玉 慶一",
    "message": "1999年2月生まれ。東京都小平市出身。大学へ現役進学後数ヶ月で通信キャリアの営業代理店を経験。営業商材をもとに100名規模の学生団体を構築。個人事業主として2018年〜2020年2月まで活動したのち、2020年4月に広告営業事業を営む株式会社TOYを創業。同時期にITの可能性を感じプログラミングを始め、現在はITエンジニアとして活動中。2021年にLeograph株式会社に参画し、AI研究開発やWebアプリ開発などを手掛ける。 「Don't repeat yourself（重複作業をなくそう）」「Garbage in, Garbage out（無意味なデータは、無意味な結果をもたらす）」をモットーにエンジニア業務をこなす。"
    },
    {
    "order": 15,
    "pic": "assets2024/img/02_company/member-06.jpg",
    "job": "技術顧問",
    "name": "佐々木 大輔",
    "message": "1998年7月生まれ。鹿児島県鹿児島市出身。<br>株式会社LIXILトータルサービスで福岡住設の営業を4年行い、ウェブココル株式会社でSEOコンサルタント、メディア運営を経験。<br>"
    },
    {
    "order": 16,
    "pic": "assets2024/img/02_company/member-04.jpg",
    "job": "顧問",
    "name": "喜多埜 裕明",
    "message": "1985年4月生まれ。東京都小平市出身。ファーストキャリアは大手インターネット広告代理店。コンサルタントとしてプレイヤーからマネージャーまでを約5年間経験。 その後、数社で事業企画部門の責任者などを務め、2019年にSNSマーケティングでプラトッホーム事業を手掛けるスマートシェア社に部門責任者として入社。翌年に代表取締役に就任。2021年3月末をもって同社の代表取締役を辞任。新たな形のマーケティング支援をSNS活用を軸に中小企業から広めるという考えのもと、同年6月にLeograph株式会社を設立し代表取締役に就任。同社では、自社で開発したシステムをフル活用し、収集したデータをその後のアクションに繋げられる形で可視化。データを活用するノウハウのない事業主様には、担当者育成サービスやコンサルティングサービス、運用支援サービスなどもワンストップで提供する。SNSという枠に囚われず、クライアントのマーケティング課題に則した提案をする。集客のみならず、リピートや顧客満足度の向上、更には採用やシステムの開発/導入など、マーケティングから組織のDX化推進に至るまで各種課題の提起から解決までを支援する。形式や既成概念にとらわれない、「クライアントにとって最適なコストの中で最高の結果を残せる提案」がモットー。"
    }
    ]
    </script>

