
<div class="cm-block-media">
  <div class="cm-block-media-youtube">
    <div class="cm-block-media-youtube__head">
      <h3 class="cm-block-media-youtube__title">COUNTER Channel</h3>
      <div class="cm-block-media-youtube__logo"><img src="undefinedlogo-youtube.svg" alt="YouTUbe"/></div>
    </div>
    <div class="cm-block-media-youtube__slide">
      <div class="swiper">
        <div class="swiper-wrapper">
          <figure class="swiper-slide"><img src="undefined400x225.webp"/></figure>
          <figure class="swiper-slide"><img src="undefined400x225_2.webp"/></figure>
          <figure class="swiper-slide"><img src="undefined400x225.webp"/></figure>
          <figure class="swiper-slide"><img src="undefined400x225_2.webp"/></figure>
          <figure class="swiper-slide"><img src="undefined400x225.webp"/></figure>
        </div>
      </div>
      <div class="cm-block-media-youtube__paginate"></div>
    </div>
  </div>
  <div class="cm-block-media-sns">
    <div class="cm-block-media-sns__wrap">
      <div class="cm-block-media-sns__logo"><svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M23.5727 19.0323L35.6897 5.25H32.8179L22.2969 17.2179L13.8917 5.25H4.2002L16.9083 23.3467L4.2002 37.8H7.07195L18.183 25.1622L27.0576 37.8H36.7502L23.5706 19.0323H23.5727ZM19.6383 23.5053L18.351 21.7045L8.10619 7.36575H12.5162L20.7849 18.9367L22.0722 20.7396L32.819 35.7808H28.409L19.6383 23.5053Z" fill="#FF552B"/>
</svg>
      </div>
      <ul class="cm-block-media-sns__list">
        <li><a href="#" target="_blank" rel="noopener">
            <figure class="cm-block-media-sns__profile"><img src="undefinedmedia-miyata.webp"/>
              <figcaption>宮田</figcaption>
            </figure></a></li>
        <li><a href="#" target="_blank" rel="noopener">
            <figure class="cm-block-media-sns__profile"><img src="undefinedmedia-mori.webp"/>
              <figcaption>森</figcaption>
            </figure></a></li>
        <li><a href="#" target="_blank" rel="noopener">
            <figure class="cm-block-media-sns__profile"><img src="undefinedmedia-kanazawa.webp"/>
              <figcaption>金沢</figcaption>
            </figure></a></li>
      </ul>
    </div>
    <ul class="cm-block-media-sns__links">
      <li><a class="c-link-arrow" href="#" target="_blank" rel="noopener"><span class="c-link-arrow__txt">Couter Media</span><i class="c-link-arrow__arrow">
            <svg width="40" height="40">
              <use href="#ico-arrow"></use>
            </svg></i></a></li>
      <li><a class="c-link-external" href="#" target="_blank" rel="noopener"><span class="c-link-external__txt">note</span><i class="c-link-external__ico">
            <svg width="24" height="19">
              <use href="#ico-external"></use>
            </svg></i></a></li>
    </ul>
  </div>
</div>