
<div class="p-media-aside-block">
  <div class="p-media-aside-block__head">
    <h3 class="c-heading-caption">Pick Up</h3>
  </div>
  <ul class="p-media-aside-block__pickup">
    <li><a href="undefinedsingle-media/">
        <figure><img src="undefined400x225.webp" alt=""/></figure></a></li>
    <li><a href="undefinedsingle-media/">
        <figure><img src="undefined400x225.webp" alt=""/></figure></a></li>
  </ul>
  <div class="p-media-aside-block__search">
    <div class="c-form-search c-form-search--aside">
      <div class="c-form-search__keyword">
        <input type="text"/>
      </div>
      <button class="c-form-search__btn">
        <svg width="16" height="17">
          <use href="#ico-search"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
<div class="p-media-aside-block">
  <div class="p-media-aside-block__head">
    <h3 class="c-heading-caption">Category</h3>
  </div>
  <ul class="p-media-aside-block__category">
    <li><a href="#">SEO</a></li>
    <li><a href="#">WEBデザイン</a></li>
    <li><a href="#">WEB制作</a></li>
    <li><a href="#">WEB広告</a></li>
    <li><a href="#">マーケティング</a></li>
    <li><a href="#">ワードプレス</a></li>
    <li><a href="#">動画制作</a></li>
  </ul>
</div>
<div class="p-media-aside-block">
  <div class="p-media-aside-block__head">
    <h3 class="c-heading-caption">Tags</h3>
  </div>
  <ul class="p-media-aside-block__tag">
    <li><a href="#">#おすすめ記事</a></li>
    <li><a href="#">#ピックアップ</a></li>
    <li><a href="#">#ホワイトペーパ</a></li>
    <li><a href="#">#外部対策</a></li>
  </ul>
</div>