.p-media-aside-block
    .p-media-aside-block__head
        h3.c-heading-caption Pick Up
    ul.p-media-aside-block__pickup
        li
            a(href=path + "single-media/")
                figure
                    img(src=img+"16x9.webp" alt="")
        li
            a(href=path + "single-media/")
                figure
                    img(src=img+"16x9.webp" alt="")
    .p-media-aside-block__search
        .c-form-search.c-form-search--aside
            .c-form-search__keyword
                input(type="text")
            button.c-form-search__btn
                svg(width=16 height=17)
                    use(href="#ico-search")
.p-media-aside-block
    .p-media-aside-block__head
        h3.c-heading-caption Category
    ul.p-media-aside-block__category
        li
            a(href="#") SEO
        li
            a(href="#") WEBデザイン
        li
            a(href="#") WEB制作
        li
            a(href="#") WEB広告
        li
            a(href="#") マーケティング
        li
            a(href="#") ワードプレス
        li
            a(href="#") 動画制作
.p-media-aside-block
    .p-media-aside-block__head
        h3.c-heading-caption Tags
    ul.p-media-aside-block__tag
        li
            a(href="#") #おすすめ記事
        li
            a(href="#") #ピックアップ
        li
            a(href="#") #ホワイトペーパ
        li
            a(href="#") #外部対策