@use '../Base/config' as config;
@use '../Component/c-btn' as btn;
@use '../Component/c-paragraph' as paragraph;
@use '../Utility/u-utility' as utility;
/*----------------------------------------------------
	c-card
----------------------------------------------------*/
.c-card-case {
	height: 100%;
	@include config.pc {
		max-width: 414/16+rem;
	}
}
.c-card-case__link {
	height: 100%;
	display: grid;
	position: relative;
	border: var(--border-assort);
	padding: 0 16/16+rem 16/16+rem;
	color: var(--color-assort);
	grid-template-areas:
		"name pic"
		"arrow pic"
		"desc desc"
	;
	grid-template-columns: 1fr 140/16+rem;
	gap: 20/16+rem 10/16+rem;
	@include config.pc {
		grid-template-columns: 1fr 200/16+rem;
		gap: 30/16+rem 10/16+rem;
		padding: 0 20/16+rem 14/16+rem;
	}
}
.c-card-case__pic {
	position: relative;
	grid-area: pic;
	margin-top: -14/16+rem;
	align-self: flex-start;
	@extend .u-color-blend;
	.c-card-case--sponsored & {
		&:after {
			display: none;
		}
		img {
			filter: none;
		}
	}
	@include config.pc {}
}
.c-card-case__name {
	grid-area: name;
	padding-top: 14/16+rem;
	font-size: 14/16+rem;
	@include config.pc {
		padding-top: 14/16+rem;
		font-size: 16/16+rem;
	}
}
.c-card-case__arrow {
	grid-area: arrow;
	margin-top: -6/16+rem;
	@extend .c-btn-arrow;
	@include config.sp-tab {
		width: 24/16+rem;
		height: 24/16+rem;
	}
	@include config.pc {
		margin-top: 20/16+rem;
	}
}
.c-card-case__desc {
	grid-area: desc;
	font-weight: 500;
	line-height: 1.4;
	letter-spacing: 0.1em;
	@include config.pc {
		margin-top: 16/16+rem;
		font-size: 18/16+rem;
	}
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
.c-card-download {
	@include config.pc {
		max-width: 414/16+rem;
	}
}
.c-card-download__link {
	display: flex;
	flex-direction: column;
	border: var(--border-assort);
	padding: 16/16+rem 24/16+rem 28/16+rem;
	position: relative;
	background: #fff;
	@include config.pc {
		padding: 16/16+rem 24/16+rem 24/16+rem;
	}
}
.c-card-download__title {
	color: var(--color-assort);
	font-size: 11/16+rem;
	letter-spacing: 0.01em;
	@include config.pc {}
}
.c-card-download__down {
	position: absolute;
	top: 74/16+rem;
	@extend .c-btn-down;
	@include config.pc {
		top: 78/16+rem;
	}
}
.c-card-download__pic {
	margin-top: 6/16+rem;
	margin-left: 74/16+rem;
	img {
		border: var(--border-gray);
		box-shadow: 4/16+rem 4/16+rem 15/16+rem 0 rgba(0, 0, 0, 0.08);
	}
	@extend .u-color-blend;
	@include config.sp-tab {
		margin-right: 16/16+rem;
	}
	@include config.pc {
		margin-left: 107/16+rem;
	}
}
.c-card-download__title2 {
	margin-top: 24/16+rem;
	color: #FF552B;
	font-size: 20/16+rem;
	line-height: 1.3;
	@include config.pc {
		margin-top: 26/16+rem;
		font-size: 25/16+rem;
	}
}
.c-card-download__desc {
	margin-top: 8/16+rem;
	color: var(--LightBlack, #584E49);
	font-size: 14/16+rem;
	@include config.pc {
		margin-top: 18/16+rem;
		line-height: 1.7;
	}
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
.c-card-creative {
	border-bottom: var(--border-assort);
	@include config.pc {}
}
.c-card-creative--single {
	border-top: var(--border-assort);
	border-bottom: none;
}
.c-card-creative__link {
	display: flex;
	gap: 10/16+rem;
	padding: 15/16+rem 0;
	color: var(--color-assort);
	@include config.pc {
		padding: 20/16+rem 0;
		gap: 26/16+rem;
	}
}
.c-card-creative__pic {
	width: 136/16+rem;
	@extend .u-color-blend;
	@include config.pc {
		width: 266/16+rem;
	}
}
.c-card-creative__wrap {
	position: relative;
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 8/16+rem;
}
.c-card-creative__title {
	font-size: 18/16+rem;
	line-height: 1.4;
	@include config.pc {
		font-size: 25/16+rem;
	}
}
.c-card-creative__category {
	margin-top: auto;
	display: flex;
	gap: 25/16+rem;
	flex-wrap: wrap;
	font-size: 12/16+rem;
	@include config.pc {
		font-size: 14/16+rem;
	}
}
.c-card-creative__excerpt {
	margin-top: 30/16+rem;
	@extend .c-paragraph;
	@include config.pc {
		margin-top: auto;
	}
}
.c-card-creative__arrow {
	position: absolute;
	right: 0;
	@extend .c-btn-arrow;
	@include config.sp-tab {
		width: 26/16+rem;
	}
	@include config.pc {
		align-self: center;
		right: 0;
		top: calc(50% - #{20/16+rem});
	}
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
.c-card-creative--lg {
	.c-card-creative {
		@include config.pc {}
	}
	.c-card-creative__link {
		padding: 15/16+rem 15/16+rem;
		@include config.sp-tab {
			flex-direction: column;
		}
		@include config.pc {
			padding: 45/16+rem 28/16+rem;
		}
	}
	.c-card-creative__wrap {
		@include config.pc {
			padding-right: 180/16+rem;
		}
	}
	.c-card-creative__pic {
		width: 100%;
		img {
			width: 100%;
		}
		@include config.pc {
			width: 502/16+rem;
		}
	}
	.c-card-creative__title {
		font-size: 20/16+rem;
		@include config.sp-tab {
			padding-right: 34/16+rem;
		}
		@include config.pc {
			font-size: 32/16+rem;
		}
	}
	.c-card-creative__category {
		margin-top: 4/16+rem;
		@include config.pc {}
	}
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
.c-card-media {
	@include config.pc {}
}
.c-card-media__link {
	display: flex;
	gap: 8/16+rem;
	padding: 40/16+rem 0 32/16+rem;
	background: var(--border-assort-dot);
	position: relative;
	color: var(--color-assort);
	@include config.pc {
		padding: 67/16+rem 0 22/16+rem;
		gap: 19/16+rem;
	}
}
.c-card-media__date {
	position: absolute;
	top: 24/16+rem;
	font-family: var(--Suisse);
	font-size: 24/16+rem;
	line-height: 0.9;
	@include config.pc {
		top: 42/16+rem;
		font-size: 40/16+rem;
	}
}
.c-card-media__pic {
	width: 144/16+rem;
	@include config.pc {
		width: 264/16+rem;
	}
}
.c-card-media__wrap {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 8/16+rem;
	&:has(.c-card-media__arrow) {
		padding-right: 32/16+rem;
	}
	@include config.pc {
		&:has(.c-card-media__arrow) {
			padding-right: 70/16+rem;
		}
	}
}
.c-card-media__title {
	font-size: 14/16+rem;
	@include config.pc {
		font-size: 18/16+rem;
		line-height: 1.4;
	}
}
.c-card-media__category {
	margin-top: auto;
	display: flex;
	gap: 0 25/16+rem;
	flex-wrap: wrap;
	font-family: var(--Suisse);
	font-size: 12/16+rem;
	font-weight: 400;
	@include config.pc {
		gap: 0 46/16+rem;
	}
}
.c-card-media__arrow {
	position: absolute;
	right: 0;
	top: calc(50% - #{12/16+rem});
	@extend .c-btn-arrow;
	@include config.sp-tab {
		width: 20/16+rem;
		height: 20/16+rem;
	}
}
.c-card-media--top {
	&:last-child {
		.c-card-media__link {
			@include config.pc {
				border-bottom: none;
			}
		}
	}
	.c-card-media__link {
		@include config.pc {
			padding-left: 64/16+rem;
			gap: 75/16+rem;
		}
	}
	.c-card-media__pic {
		@include config.pc {
			width: 200/16+rem;
		}
	}
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
.c-card-media-pickup {
	@include config.pc {}
}
.c-card-media-pickup__link {
	display: flex;
	flex-direction: column;
	gap: 12/16+rem;
	@include config.pc {
		gap: 20/16+rem;
	}
}
.c-card-media-pickup__pic {
	@include config.pc {}
}
.c-card-media-pickup__title {
	color: var(--BASECOLOR, #FF552B);
	font-size: 16/16+rem;
	font-weight: 500;
	line-height: 1.3;
	@include config.pc {
		font-size: 25/16+rem;
	}
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
.c-card-news {
	@include config.pc {}
}
.c-card-news--single {
	.c-card-news__link {
		background: none;
		border-top: var(--border-assort);
		@include config.pc {
			flex-direction: column-reverse;
			align-items: flex-start;
			padding: 12/16+rem 0;
		}
	}
	.c-card-news__title {
		@include config.pc {
			display: flex;
			align-items: center;
			flex: auto;
			height: 120/16+rem;
		}
	}
}
.c-card-news__link {
	display: flex;
	background: var(--border-assort-dot);
	padding: 18/16+rem 0;
	color: var(--color-assort);
	align-items: center;
	@include config.pc {
		padding: 28/16+rem 0;
	}
}
.c-card-news__meta {
	display: flex;
	flex-direction: column;
	@include config.sp-tab {
		width: 125/16+rem;
		gap: 6/16+rem;
	}
	@include config.pc {
		flex-direction: row;
	}
}
.c-card-news__date {
	font-family: var(--Suisse);
	font-size: 10/16+rem;
	font-weight: 400;
	letter-spacing: 0.05em;
	@include config.pc {
		width: 136/16+rem;
		font-size: 12/16+rem;
	}
}
.c-card-news__category {
	font-family: var(--Suisse);
	font-size: 10/16+rem;
	font-weight: 400;
	letter-spacing: 0.05em;
	@include config.pc {
		width: 152/16+rem;
		font-size: 12/16+rem;
	}
}
.c-card-news__title {
	flex: 1;
	font-size: 14/16+rem;
	font-weight: 500;
	line-height: 1.4;
	letter-spacing: 0.01em;
	@include config.pc {
		font-size: 18/16+rem;
		line-height: 1.4;
	}
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/