@use '../Base/config' as config;
@use '../Component/c-btn' as btn;
@use '../Component/c-paragraph' as paragraph;
/*----------------------------------------------------
	...
----------------------------------------------------*/
.c-form-search {
	position: relative;
	width: 240/16+rem;
	@include config.sp-tab {
		width: 17/16+rem;
		transition: .3s var(--easeOutTheme);
		&.is-show {
			width: 150/16+rem;
		}
	}
	@include config.pc {}
}
.c-form-search--aside {
	width: 100%;
	.c-form-search__keyword {
		input {
			border: var(--border-assort);
		}
		@include config.sp-tab {
			opacity: 1;
			width: 100%;
			input {
				width: 100%;
				padding: 0 1em;
			}
		}
	}
	.c-form-search__btn {
		svg {
			stroke: var(--color-assort);
		}
		@include config.sp-tab {
			right: 6/16+rem;
		}
	}
}
.c-form-search__keyword {
	width: 100%;
	input {
		width: 100%;
		height: 40/16+rem;
		//padding: 0 1em;
		background: var(--white, #FFF);
		border: none;
		background: #fff;
		color: #3A3735;
	}
	@include config.sp-tab {
		opacity: 0;
		transition: .3s var(--easeOutTheme);
		input {
			padding: 0 1em;
		}
		.is-show & {
			opacity: 1;
		}
	}
	@include config.pc {
		input {
			padding: 0 1em;
		}
	}
}
.c-form-search__btn {
	position: absolute;
	top: calc(50% - #{8.5/16+rem});
	right: 0;
	width: 17/16+rem;
	line-height: 0;
	svg {
		stroke: var(--color);
		fill: transparent;
	}
	@include config.sp-tab {
		transition: .2s var(--easeOutTheme);
		.is-show & {
			right: 6/16+rem;
			svg {
				stroke: #3A3735;
			}
		}
	}
	@include config.pc {
		right: 6/16+rem;
		svg {
			stroke: #3A3735;
		}
	}
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
.c-form-input {
	display: flex;
	flex-direction: column;
	input[type="text"],
	input[type="email"],
	input[type="tel"],
	select,
	textarea {
		width: 100%;
		padding: 16/16+rem 20/16+rem;
		border: none;
		border-bottom: var(--border-gray-dark);
		&:focus {
			border-color: var(--color-assort);
		}
		&::placeholder {
			font-size: 14/16+rem;
			color: var(--caption, #807977);
		}
		@include config.pc {
			padding: 16/16+rem 20/16+rem 24/16+rem;
			&::placeholder {
				font-size: 18/16+rem;
			}
		}
	}
	select {
		//padding-top: 0;
		//padding-bottom: 0;
	}
	textarea {
		height: 200/16+rem;
	}
	dt {
		display: flex;
		gap: 6/16+rem;
		padding: 0 20/16+rem;

		color: var(--BASEBlack, #3A3735);

		font-size: 14/16+rem;
		font-weight: 500;
		letter-spacing: 0.01em;
		._required {
			color: var(--color-assort);
		}
	}
	select.contact-form__input,
	input.contact-form__input {
		height: auto;
	}
	@include config.pc {
		gap: 6/16+rem;
		dt {
			gap: 10/16+rem;
			font-size: 18/16+rem;
		}

	}
}
.c-form-input__select {
	position: relative;
	&:after {
		content: '';
		display: block;
		width: 20/16+rem;
		height: 20/16+rem;
		position: absolute;
		right: 20/16+rem;
		top: calc(50% - #{10/16+rem});
		pointer-events: none;
		background: url(../img/ico-arrow-down.svg) center center /contain no-repeat;
	}
	select {
		background: none;
		appearance: none;
	}
	@include config.pc {}
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/