@use '../Base/config' as config;
/*----------------------------------------------------
	c-heading
----------------------------------------------------*/
.c-heading-section {
	overflow: hidden;
	@include config.pc {}
}
.c-heading-section__title {
	color: var(--color-assort);
	font-family: var(--ITCGaramondW01-BookCn);
	font-size: 32/16+rem;
	line-height: 1;
	letter-spacing: -0.04em;
	// transform: translate3d(#{1em},0,0);
	// opacity: 0;
	.is-visible & {
		opacity: 1;
		transition: 1s var(--easeOutTheme) 0.05s;
		transform: translate3d(0,0,0);
		letter-spacing: -0.04em;
	}
	@include config.pc {
		font-size: 64/16+rem;
	}
}
.c-heading-section__line {
	display: flex;
	height: 16/16+rem;
	background: linear-gradient(-270deg, #FF552B 37.02%, #FFF 100%);
	width: 100%;
	.is-visible & {
		width: 100%;
		transition: .25s var(--easeOutTheme);
	}
	@include config.pc {
		height: 27/16+rem;
	}
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
.c-heading-caption {
	color: var(--BASECOLOR, #FF552B);
	font-family: var(--ITCGaramondW01-BookCn);
	font-size: 24/16+rem;
	font-weight: 400;
	letter-spacing: -0.05em;
	@include config.pc {
		font-size: 36/16+rem;
	}
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
.c-heading-bar {
	padding: 12/16+rem 12/16+rem;
	background: var(--BASEBlack, #3A3735);

	color: var(--Gray, #EFECEB);
	font-size: 18/16+rem;
	font-weight: 500;
	@include config.pc {
		padding: 22/16+rem 24/16+rem;
		font-size: 32/16+rem;
	}
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
.c-heading-border {
	padding-bottom: 6/16+rem;
	border-bottom: var(--border-assort);
	color: var(--BASECOLOR, #FF552B);
	font-size: 18/16+rem;
	@include config.pc {
		padding-bottom: 12/16+rem;
		font-size: 32/16+rem;
	}
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
.c-heading-text {
	color: var(--BASECOLOR, #FF552B);
	font-size: 18/16+rem;
	@include config.pc {
		font-size: 25/16+rem;
	}
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/






