@use '../Base/config' as config;
@use '../Component/c-btn' as btn;
/*----------------------------------------------------
	...
----------------------------------------------------*/
.c-link-arrow {
	display: inline-flex;
	align-items: center;
	gap: 8/16+rem;
	color: var(--BASECOLOR, #FF552B);

	// font-size: 20/16+rem;
	letter-spacing: 0.01em;
	text-decoration: underline;
	text-underline-offset: 0.2em;
	text-decoration-thickness: 1.5/16+rem;
	&:hover {
		text-decoration: none;
	}
	@include config.pc {}
}
.c-link-arrow__txt {
	@include config.pc {}
}
.c-link-arrow__arrow {
	@extend .c-btn-arrow;
	width: 16/16+rem;
	height: 16/16+rem;
	@include config.pc {}
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
.c-link-external {
	display: inline-flex;
	align-items: center;
	gap: 8/16+rem;
	color: var(--BASECOLOR, #FF552B);

	// font-size: 20/16+rem;
	letter-spacing: 0.01em;
	text-decoration: underline;
	text-underline-offset: 0.2em;
	text-decoration-thickness: 1.5/16+rem;
	&:hover {
		text-decoration: none;
	}
	@include config.pc {}
}
.c-link-external__txt {
	@include config.pc {}
}
.c-link-external__ico {
	//@extend .c-btn-arrow;
	width: 24/16+rem;
	svg {
	    width: 100%;
	    height: auto;
	}
	@include config.pc {}
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/