@use '../Base/config' as config;
@use '../Component/c-btn' as btn;
@use '../Component/c-paragraph' as paragraph;
/*----------------------------------------------------
	...
----------------------------------------------------*/
.l-aside-cta {
	position: fixed;
	z-index: 100;
	display: flex;
	gap: 3/16+rem;
	right: 15/16+rem;
	bottom: 15/16+rem;
	opacity: 0;
	pointer-events: none;
	transition: var(--easeDuration) var(--easeOutTheme);
	.is-scrolled & {
		opacity: 1;
		pointer-events: auto;
	}
	.is-footer-show & {
		opacity: 0;
		pointer-events: none;
	}
	@include config.pc {
		right: 28/16+rem;
		bottom: 28/16+rem;
	}
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
.l-aside-stalker {
	display: block;
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 300;
	pointer-events: none;
	overflow: hidden;
	.c-btn-stalker {
		position: absolute;
		opacity: 0;
		transition: .3s var(--easeOutTheme);
		&.on-stalker-show {
			opacity: 1;
		}
	}
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
