@use '../Base/config' as config;
/*----------------------------------------------------
	l-header-drawer
----------------------------------------------------*/
.l-header-drawer {
	width: 100%;
	position: fixed;
	inset: 0;
	overflow: auto;
	pointer-events: none;
	opacity: 0;
	.is-nav-closing &,
	.is-nav-open & {
		pointer-events: auto;
		opacity: 1;
	}
	@include config.pc {}
}
.l-header-drawer__bg {
	content: '';
	display: block;
	width: 100%;
	height: 0;
	position: absolute;
	left: 0;
	top: 0;
	pointer-events: none;
	background: var(--BASEBlack, #3A3735);
	transition: .6s var(--easeOutTheme);
	.is-nav-open & {
		height: 100%;
	}
}
.l-header-drawer__wrap {
	position: relative;
	height: 100%;
	overflow: auto;
	overscroll-behavior: none;
	padding: 138/16+rem 15/16+rem 60/16+rem;
	@include config.pc {
		padding: 166/16+rem 0 80/16+rem;
	}
}
.l-header-drawer__search {
	position: absolute;
	right: 90/16+rem;
	top: 26/16+rem;
	transition: .3s var(--easeOutTheme);
	opacity: 0;
	.is-nav-open & {
		transition-delay: .6s;
		opacity: 1;
	}
	@include config.pc {
		right: 116/16+rem;
		top: 34/16+rem;
	}
}
.l-header-drawer__nav {
	@include config.sp-tab {
		.cm-nav-main-contents {
			clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
			transition: .2s var(--easeOutTheme);
			.is-nav-open & {
				transition-duration: .8s;
				transition-delay: .2s;
				clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
			}
		}
	}
	.cm-nav-main-index__label,
	.cm-nav-main-index__list,
	.cm-nav-main-contents__label,
	.cm-nav-main-contents-cta,
	.cm-nav-main-contents-item {
		clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
		transition: .2s var(--easeOutTheme);
		.is-nav-open & {
			transition-duration: .8s;
			transition-delay: .2s;
			clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
			&.cm-nav-main-contents-item:nth-child(2) {
				transition-delay: .3s;
			}
			&.cm-nav-main-contents-item:nth-child(3) {
				transition-delay: .4s;
			}
			&.cm-nav-main-contents-cta {
				transition-delay: .5s;
			}
		}
	}
	.c-btn-nav-heading:before {
		width: 0;
		.is-nav-open & {
			transition-duration: .6s;
			transition-delay: .2s;
			width: 100%;
		}
	}
}


