extends ../_default
block vars
    - var path = "../"
    - var title = ""
    - var pageClass = ""

block content
    .p-privacy
        .cm-block-header
            .l-container
                .cm-block-header__title
                    p.cm-block-header__en Privacy
                    h1.cm-block-header__ja 個人情報方針保護方針
                ul.cm-block-header__bc
                    li
                        a(href=path + "") TOP
                    li
                        span Privacy
        .l-container.l-container--md
            .p-privacy__wrap
                h2.c-heading-text 1. 個人情報の利用目的
                p
                    | 「COUNTER」（以下、当サイト）では、メールでのお問い合わせなどの際に、名前（ハンドルネーム）、メールアドレス等の個人情報をご登録いただく場合がございます。 これらの個人情報は質問に対する回答や必要な情報を電子メールなどをでご連絡する場合に利用させていただくものであり、個人情報をご提供いただく際の目的以外では利用いたしません。
                h2.c-heading-text 2. 個人情報の第三者への開示
                p
                    | 当サイトでは、個人情報は適切に管理し、以下に該当する場合を除いて第三者に開示することはありません。本人のご了解がある場合 ・法令等への協力のため、開示が必要となる場合 個人情報の開示、訂正、追加、削除、利用停止 ご本人からの個人データの開示、訂正、追加、削除、利用停止のご希望の場合には、ご本人であることを確認させていただいた上、速やかに対応させていただきます。
                h2.c-heading-text 3. 免責事項
                p
                    | 当サイトからリンクやバナーなどによって他のサイトに移動された場合、移動先サイトで提供される情報、サービス等について一切の責任を負いません。 当サイトのコンテンツ・情報につきまして、可能な限り正確な情報を掲載するよう努めておりますが、誤情報が入り込んだり、情報が古くなっていることもございます。 当サイトに掲載された内容によって生じた損害等の一切の責任を負いかねますのでご了承ください。
                h2.c-heading-text 4. 著作権等
                p
                    | 当サイトに許可なく転載、画像などを使用するこは一切禁止させていただいております。 当サイトで掲載している画像の著作権・肖像権等は各権利所有者に帰属致します。権利を侵害する目的ではございません。記事の内容や掲載画像等に問題がございましたら、各権利所有者様本人が直接メールでご連絡下さい。確認後、対応させて頂きます。 当サイトからリンクやバナーなどによって他のサイトに移動された場合、移動先サイトで提供される情報、サービス等について一切の責任を負いません。 当サイトに掲載された内容によって生じた損害等の一切の責任を負いかねますのでご了承ください。
                h2.c-heading-text 5. プライバシーポリシーの変更について
                p
                    | 当サイトは、個人情報に関して適用される日本の法令を遵守するとともに、本ポリシーの内容を適宜見直しその改善に努めます。 修正された最新のプライバシーポリシーは常に本ページにて開示されます。


        .p-privacy__media
            .l-container
                .u-border
            .l-container.l-container--md
                include ../template/cm-block-media