@use '../Base/config' as config;
@use '../Component/c-btn' as btn;
@use '../Component/c-paragraph' as paragraph;
@use '../Utility/u-utility' as utility;

/*----------------------------------------------------
	...
----------------------------------------------------*/
.cm-modal[aria-hidden="true"] {
	display: none;
	pointer-events: none;
}

.cm-modal.is-open {
	display: block;
}

.cm-modal {
	position: fixed;
	width: 100%;
	height: 100vh;
	inset: 0;
	z-index: 400;
}
.cm-modal__overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	background: rgba(#000, 0.7);

	display: flex;
	justify-content: center;
	align-items: center;
	//z-index: 400;
	overflow: auto;
	overscroll-behavior: none;
	&:after {
		content: '';
		display: block;
		width: 100%;
		height: calc(100% + #{1px});
		position: absolute;
		left: 0;
		top: 0;
		pointer-events: none;
	}
}

.cm-modal__wrap {
	position: relative;
}
.cm-modal__container {
	max-height: 100vh;
	overflow: auto;
	@include config.sp {
		padding: 0 15/16+rem;
	}
}
.cm-modal__close {
	position: absolute;
	right: 0;
	top: -60/16+rem;
	width: 45/16+rem;
	height: 45/16+rem;
	z-index: 100;
	cursor: pointer;
	display: flex;
	align-items: center;

	span {
		display: block;
		position: absolute;
		left: 0;
		transition: top .35s var(--easeOutTheme), transform 0s var(--easeOutTheme);

		width: 100%;
		height: 0;
		border-top: var(--border-wh);
	}
	span:nth-child(1) {
		top: calc(50%);
		transform: scale(-1, -1) rotate(-45deg);
	}
	span:nth-child(2) {
		top: calc(50%);
		transform:  scale(-1, -1) rotate(45deg);
	}
	@include config.pc {
		width: 45/16+rem;
		height: 45/16+rem;
		right: -45/16+rem;
		top: -75/16+rem;
	}
}
#modal-member {
	.cm-modal__close {
		position: absolute;
		right: 10/16+rem;
		top: 0;
		@include config.pc {
			right: 0;
			top: 0;
		}
	}
}
/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}

@keyframes mmfadeOut {
	from { opacity: 1; }
	to { opacity: 0; }
}

@keyframes mmslideIn {
	from { transform: translateY(15%);opacity: 0; }
	to { transform: translateY(0); opacity: 1;}
}

@keyframes mmslideOut {
	from { transform: translateY(0);opacity: 0; }
	to { transform: translateY(-10%); opacity: 1;}
}
.cm-modal[aria-hidden="false"] .cm-modal__overlay {
	opacity: 0;
	animation: mmfadeIn .3s .2s cubic-bezier(0.0, 0.0, 0.2, 1) forwards;
}

.cm-modal[aria-hidden="false"] .cm-modal__container {
	opacity: 0;
	animation: mmslideIn .3s .2s cubic-bezier(0, 0, .2, 1) forwards;
}

.cm-modal[aria-hidden="true"] .cm-modal__overlay {
	animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1) forwards;
}

.cm-modal[aria-hidden="true"] .cm-modal__container {
	animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1) forwards;
}

.cm-modal .cm-modal__container,
.cm-modal .cm-modal__overlay {
	will-change: transform;
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
.cm-modal-blog {
	max-width: 800/16+rem;
	@include config.pc {}
}
.cm-modal-blog__bnr {
	a:hover {
		opacity: 0.7;
	}
	img {
		width: 100%;
	}
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
.cm-modal-member {
	position: relative;
	display: grid;
	grid-template-areas:
		"pic head"
		"desc desc"
;
	grid-template-columns: 180/16+rem 1fr;
	padding: 20px;
	gap: 18/16+rem 0;
	background: var(--color-assort);
	@include config.pc {
		grid-template-areas:
			"pic head"
			"pic desc"
	;
		grid-template-columns: 264/16+rem 1fr;
		grid-template-rows: auto 1fr;
		gap: 12/16+rem 0;
		padding: 40px;
	}
}
.cm-modal-member__pic {
	grid-area: pic;
	align-self: flex-start;
	background: var(--Gray, #EFECEB);
	padding-right: 26px;
	figure {
		@extend .u-color-blend;
	}
	@include config.pc {
	}
}
.cm-modal-member__head {
	grid-area: head;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	@include config.sp-tab {
		justify-content: flex-end;
	}
	@include config.pc {}
}
.cm-modal-member__job {
	color: var(--BASECOLOR, #FF552B);
	font-size: 12/16+rem;
	letter-spacing: 0.12/16+rem;
	background: var(--Gray, #EFECEB);
	@include config.pc {
		line-height: 1;
		font-size: 18/16+rem;
	}
}
.cm-modal-member__name {
	color: var(--BASECOLOR, #FF552B);
	font-size: 26/16+rem;
	background: var(--Gray, #EFECEB);
	@include config.pc {
		font-size: 45/16+rem;
		line-height: 1;
	}
}
.cm-modal-member__desc {
	grid-area: desc;
	padding: 16/16+rem 12/16+rem;
	@extend .c-paragraph;
	color: var(--BASECOLOR, #FF552B);
	background: var(--Gray, #EFECEB);
	@include config.pc {
		//align-self: flex-start;
		width: 480/16+rem;
		padding: 0;
	}
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
