@use '../Base/config' as config;
@use '../Component/c-btn' as btn;
@use '../Component/c-paragraph' as paragraph;
@use '../Utility/u-utility' as utility;
/*----------------------------------------------------
	...
----------------------------------------------------*/
.cm-block-header {
	position: relative;
	overflow: hidden;
	padding: 150/16+rem 0 8/16+rem;
	border-bottom: var(--border-assort);
	@include config.pc {
		padding: 190/16+rem 0 24/16+rem;
	}
}
.cm-block-header__title {
	color: var(--BASECOLOR, #FF552B);
	.is-section-dark & {
		color: #fff;
		text-shadow: 1/16+rem 1/16+rem 0 #FF552B;
	}
	@include config.pc {}
}
.cm-block-header__en {
	font-family: var(--Helvetica-Md);
	font-size: 48/16+rem;
	line-height: 0.9; /* 43.2/16+rem */
	letter-spacing: -0.08em;
	text-transform: capitalize;
	&[data-text-rep] {
		display: grid;
	}
	&[data-text-rep] span {
		grid-area: 1 / 1 / 2 / 2;
		background: #fff url(../img/bg-noise.webp);
		will-change: transform;
		line-height: 0.8;
		padding-top: 0.1em;
	}
	&[data-text-rep] span:not(:last-child) {
		color: var(--color-rep-text);
	}
	@include config.pc {
		font-size: 72/16+rem;
		&[data-text-rep] {
			font-size: 110/16+rem;
		}
	}
}
.cm-block-header__ja {
	font-size: 14/16+rem;
	font-weight: 500;
	//letter-spacing: 0.01em;
	@include config.pc {
		margin-top: 4/16+rem;
		font-size: 18/16+rem;
	}
}
.cm-block-header__client {
	padding-bottom: 6/16+rem;
	color: var(--BASECOLOR, #FF552B);
	font-size: 12/16+rem;
	line-height: 1.4;
	letter-spacing: 0.01em;
	@include config.pc {
		font-size: 24/16+rem;
	}
}
.cm-block-header__desc {
	margin-top: 10/16+rem;
	color: var(--color);
	font-size: 14/16+rem;
	font-weight: 500;
	line-height: 1.4;
	//letter-spacing: 0.14/16+rem;
	@include config.pc {
		margin-top: 12/16+rem;
		font-size: 18/16+rem;
	}
}
.cm-block-header__bc {
	margin-top: 2/16+rem;
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	gap: 0 15/16+rem;

	color: var(--BASECOLOR, #FF552B);
	font-family: var(--Helvetica);
	font-size: 9/16+rem;
	li {
		display: flex;
		align-items: center;
		position: relative;
	}
	li:not(:first-child):before {
		content: '';
		display: block;
		width: 7/16+rem;
		height: 0;
		position: absolute;
		left: -11/16+rem;
		pointer-events: none;
		border-top: var(--border);
		border-color: var(--caption, #807977);
	}
	a {
		color: var(--caption, #807977);
		&:hover {
			color: var(--color-assort);
		}
	}
	@include config.sp-tab {
		//white-space: nowrap;
		//overflow-x: auto;
		//-webkit-overflow-scrolling: touch;
		//-ms-overflow-style: -ms-autohiding-scrollbar;
		//&::-webkit-scrollbar {
		//  display: none;
		//  -webkit-appearance: none;
		//}
	}
	@include config.pc {
		margin-top: 2/16+rem;
		gap: 27/16+rem;
		font-size: 14/16+rem;
		li:not(:first-child):before {
			left: -17/16+rem;
		}
	}
}
.cm-block-header__service {
	margin-top: 28/16+rem;
	position: relative;
	padding-bottom: 2/16+rem;
	display: flex;
	justify-content: flex-end;
	gap: 3/16+rem;
	img {
		height: 58/16+rem;
	}
	@include config.pc {
		gap: 8/16+rem;
		margin-top: -100/16+rem;
		padding-bottom: 5/16+rem;
		img {
			height: 100/16+rem;
		}
	}
}
.cm-block-header--company {
	padding: 200/16+rem 0 8/16+rem;
	@include config.pc {
		padding: 300/16+rem 0 24/16+rem;
	}
	.cm-block-header__title {
		color: var(--BASECOLOR, #FF552B);
		.is-section-dark & {
			color: #fff;
			text-shadow: 1/16+rem 1/16+rem 0 #FF552B;
		}
		@include config.pc {}
	}
	.cm-block-header__en {
		font-size: 52/16+rem;
		&[data-text-rep] span {
			background: none;
		}
		@include config.pc {
			font-size: 110/16+rem;
		}
	}
	.cm-block-header__ja {
		margin-top: 40/16+rem;
		@include config.pc {
			margin-top: 64/16+rem;
		}
	}
}
.cm-block-header--service {
	//border-bottom: none;
	padding: 90/16+rem 0 8/16+rem;
	@include config.pc {
		padding: 130/16+rem 0 24/16+rem;
	}
	.cm-block-header__ja {
		margin-top: 40/16+rem;
		@include config.pc {
			margin-top: 64/16+rem;
		}
	}
}
// contact
.cm-block-header--contact {
	padding: 75/16+rem 0 8/16+rem;
	border-bottom: var(--border-assort);
	@include config.pc {
		padding: 95/16+rem 0 24/16+rem;
	}
}
// work
.cm-block-header--work {
	padding-top: 110/16+rem;
	@include config.pc {
		padding-top: 130/16+rem;
	}
	.cm-block-header__title {
		padding-bottom: 20/16+rem;
		@include config.pc {
			padding-bottom: 10/16+rem;
		}
	}
	.cm-block-header__ja {
		margin-top: 0;
		color: var(--BASECOLOR, #FF552B);
		font-size: 26/16+rem;
		line-height: 1.3;
		@include config.pc {
			font-size: 45/16+rem;
		}
	}
}
// download
.cm-block-header--download {
	padding-top: 110/16+rem;
	@include config.pc {
		padding-top: 130/16+rem;
	}
	.cm-block-header__title {
		padding-bottom: 20/16+rem;
		@include config.pc {
			padding-bottom: 10/16+rem;
		}
	}
	.cm-block-header__ja {
		font-size: 26/16+rem;
		line-height: 1.3;
		@include config.pc {
			font-size: 45/16+rem;
		}
	}
}
// media
.cm-block-header--mediaSingle,
.cm-block-header--media {
	padding: 100/16+rem 0 0;
	border-bottom: none;
	@include config.pc {
		padding: 100/16+rem 0 0;
	}
	.cm-block-header__title {
		color: #FF552B;
		font-family: var(--ITCGaramondW01-BookCn);
		font-size: 48/16+rem;
		font-weight: 400;
		line-height: 0.9;
		letter-spacing: -0.05em;
		text-transform: capitalize;
		@include config.pc {
			font-size: 96/16+rem;
		}
	}
	.cm-block-header__bc {
		margin-top: 10/16+rem;
		@include config.pc {
			margin-top: 18/16+rem;
		}
	}
}
.cm-block-header__category {
	display: flex;
	padding: 18/16+rem 15/16+rem;
	gap: 25/16+rem;
	background: var(--color-assort);
	position: relative;

	color: var(--white, #FFF);
	font-size: 14/16+rem;
	a {
		color: var(--color-inverse);
	}
	@include config.sp-tab {
		white-space: nowrap;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
		-ms-overflow-style: -ms-autohiding-scrollbar;
		&::-webkit-scrollbar {
		  display: none;
		  -webkit-appearance: none;
		}
	}
	@include config.pc {
		padding: 24/16+rem 15/16+rem;
		justify-content: center;
		font-size: 18/16+rem;
		.cm-block-header--mediaSingle & {
			&:before {
				content: '';
				display: block;
				width: 176/16+rem;
				height: 50/16+rem;
				position: absolute;
				left: 24/16+rem;
				bottom: 0;
				pointer-events: none;
				background: url(../img/cm-block-header-category-bg.webp) left bottom /contain no-repeat;
			}
		}
	}
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
.cm-block-cta {
	display: flex;
	border-top: var(--border-assort);
	@include config.pc {}
}
.cm-block-cta-item {
	flex: 1;
	&:nth-child(2) {
		background: var(--border-assort-vertical);
	}
	@include config.pc {}
}
.cm-block-cta-item__link {
	display: flex;
	flex-direction: column;
	position: relative;
	color: var(--color-assort);
	&:before {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		bottom: 0;
		pointer-events: none;
		background: var(--color-assort);
		// transform: scale(0.95, 0);
		transform: scale(1, 0);
		transform-origin: top;
		transition: transform var(--easeDuration) var(--easeOutTheme);
		will-change: transform;
	}
	&:hover {
		//transform: scale(0.9);
		color: #fff;
		&:before {
			// transform: scale(1.05, 1);
			transform: scale(1, 1);
			transform-origin: bottom;
		}
	}
	@include config.pc {}
}
.cm-block-cta-item__wrap {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	height: 130/16+rem;
	will-change: transform;
	transition: transform var(--easeDuration) var(--easeOutTheme);
	a:hover & {
		transform: scale(0.9);
	}
	@include config.pc {
		height: 335/16+rem;
	}
}
.cm-block-cta-item__en {
	margin-top: 6/16+rem;
	font-family: var(--ITCGaramondW01-BookCn);
	font-size: 32/16+rem;
	letter-spacing: -0.05em;
	line-height: 0.9;
	@include config.pc {
		margin-top: 6/16+rem;
		font-size: 64/16+rem;
		letter-spacing: -0.001em;
	}
}
.cm-block-cta-item__title {
	font-size: 12/16+rem;
	font-style: normal;
	font-weight: 500;
	letter-spacing: 0.01em;
	@include config.pc {
		margin-top: 16/16+rem;
		font-size: 18/16+rem;
	}
}
.cm-block-cta-item__desc {
	margin-top: 8/16+rem;
	font-size: 14/16+rem;
	line-height: 23.8/16+rem;
	@include config.sp-tab {
		display: none;
	}
	@include config.pc {}
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
.cm-block-media {
	@include config.pc {}
}
.cm-block-media-youtube {
	padding: var(--padding-block-sm) 0;
	background: var(--border-assort-dot);
	@include config.pc {}
}
.cm-block-media-youtube__head {
	display: flex;
	@include config.pc {}
}
.cm-block-media-youtube__logo {
	margin-left: auto;
	width: 81/16+rem;
	align-self: center;
	@extend .u-color-blend;
	@include config.sp-tab {
		display: none;
	}
	@include config.pc {
		position: relative;
		top: 8/16+rem;
	}
}
.cm-block-media-youtube__slide {
	margin-top: 16/16+rem;
	figure {
		@extend .u-color-blend;
	}
	@include config.pc {
		margin-top: 26/16+rem;
	}
}
.cm-block-media-youtube__paginate {
	margin-top: 20/16+rem;
	@include config.pc {
		margin-top: 26/16+rem;
	}
}
// sns
.cm-block-media-sns {
	padding: var(--padding-block-sm) 0;
	display: flex;
	flex-direction: column;
	gap: 10/16+rem;
	@include config.pc {
		flex-direction: row;
		align-items: center;
		gap: 88/16+rem;
	}
}
.cm-block-media-sns__wrap {
	display: flex;
	gap: 18/16+rem;
	@include config.pc {
		gap: 36/16+rem;
	}
}
.cm-block-media-sns__logo {
	padding-top: 20/16+rem;
	width: 42/16+rem;
	@include config.pc {
		padding-top: 24/16+rem;
	}
}
.cm-block-media-sns__list {
	display: flex;
	gap: 12/16+rem;
	@include config.pc {
		gap: 16/16+rem;
	}
}
.cm-block-media-sns__profile {
	width: 80/16+rem;
	display: flex;
	flex-direction: column;
	gap: 6/16+rem;
	text-align: center;

	color: var(--color-assort);
	font-size: 12/16+rem;
	letter-spacing: 0.05em;
	img {
		border-radius: 100%;
		border: var(--border-assort);
	}
}
.cm-block-media-sns__links {
	display: flex;
	gap: 32/16+rem;
	@include config.pc {
		gap: 64/16+rem;
		font-size: 20/16+rem;
	}
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
