@use '../Base/config' as config;
@use '../Component/c-btn' as btn;
@use '../Component/c-paragraph' as paragraph;
/*----------------------------------------------------
	...
----------------------------------------------------*/
.p-contact {
	padding-bottom: var(--padding-page);
	@include config.pc {}
}
.p-contact__wrap {
	padding-top: var(--padding-section);
	@include config.pc {
		width: 792/16+rem;
		margin-inline: auto;
	}
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
