@use '../Base/config' as config;
@use '../Component/c-btn' as btn;
@use '../Component/c-paragraph' as paragraph;
/*----------------------------------------------------
	...
----------------------------------------------------*/
.p-case {
	@include config.pc {}
}
.p-case__list {
	margin-top: 42/16+rem;
	display: grid;
	gap: 39/16+rem;
	@include config.pc {
		margin-top: 100/16+rem;
		display: flex;
		flex-wrap: wrap;
		//grid-template-columns: 1fr 1fr 1fr;
		gap: 52/16+rem 8/16+rem;
	}
}
.p-case__paginate {
	padding-top: var(--padding-block);
}
.p-creative {
	padding-bottom: var(--padding-page);
	@include config.pc {}
}
.p-creative__pickup {
	@include config.pc {}
}
.p-creative__list {
	@include config.pc {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 0 23/16+rem;
	}
}
.p-creative__paginate {
	padding-top: var(--padding-block);
	@include config.pc {}
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
.p-creative-single {
	@include config.pc {}
}
.p-creative-single__wrap {
	position: relative;
}
.p-creative-single__aside {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	align-items: flex-start;
	z-index: 5;
	//overflow: hidden;
	@include config.sp-tab {
		display: none;
	}
}
.p-creative-single__asidePrev,
.p-creative-single__asideNext, {
	position: sticky;
	top: calc(50vh - #{400/16+rem});
	width: 100%;
	height: 800/16+rem;
	max-height: 90vh;
	.c-btn-page {
		top: 800/16+rem;
		position: absolute;
		z-index: 20;
	}
}
.p-creative-single__asidePrev {
	.c-btn-page {
		transform: rotate(-90deg);
		transform-origin: left top;
	}
}
.p-creative-single__asideNext {
	text-align: right;
	.c-btn-page {
		right: 0;
		transform: rotate(90deg);
		transform-origin: right top;
	}
}
.p-creative-single__body {
	padding-top: var(--padding-block);
	@include config.pc {
		position: relative;
		z-index: 10;
		width: 872/16+rem;
		margin-left: 64/16+rem;
	}
}
.p-creative-single__page {
	margin-top: var(--padding-section);
	@include config.pc {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 0 23/16+rem;
	}
}
.p-creative-single__index {
	padding: 30/16+rem 0;
	border-top: var(--border-assort);
	text-align: center;

	a {
		color: var(--BASECOLOR, #FF552B);
		font-family: var(--Suisse);
		font-size: 20/16+rem;
		letter-spacing: 0.01em;
		text-transform: capitalize;
	}
	@include config.pc {}
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
