@use '../Base/config' as config;
@use '../Component/c-btn' as btn;
@use '../Component/c-paragraph' as paragraph;
/*----------------------------------------------------
	...
----------------------------------------------------*/
.p-news {
	//padding-bottom: var(--padding-page);
	@include config.pc {}
}
//.p-news__list {
//	margin-top: 42/16+rem;
//	display: grid;
//	gap: 39/16+rem;
//	@include config.pc {
//		margin-top: 100/16+rem;
//		display: flex;
//		flex-wrap: wrap;
//		//grid-template-columns: 1fr 1fr 1fr;
//		gap: 52/16+rem 8/16+rem;
//	}
//}
.p-news__wrap {
	display: flex;
	flex-direction: column;
	padding-top: var(--padding-section);
	gap: 20/16+rem;
	@include config.pc {
		flex-direction: row;
		gap: 0;
	}
}
.p-news__aside {
	@include config.pc {
		width: 350/16+rem;
	}
}
.p-news__list {
	flex: 1;
	@include config.pc {
		margin-top: -20/16+rem;
	}
}
.p-news__paginate {
	margin-top: var(--padding-block);
	@include config.pc {}
}
.p-news__media {
	margin-top: var(--padding-section);
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
.p-news-single {

}
.p-news-single__wrap {
	padding-top: var(--padding-block);
	@include config.pc {
		width: 872/16+rem;
		margin-inline: auto;
	}
}
.p-news-single__title {
	font-size: 26/16+rem;
	line-height: 1.3;
	@include config.pc {
		font-size: 45/16+rem;
	}
}
.p-news-single__body {
	margin-top: 36/16+rem;
}
.p-news-single__page {
	margin-top: var(--padding-section);
	margin-inline: 15/16+rem;
	@include config.pc {
		margin-inline: 28/16+rem;
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 0 23/16+rem;
	}
}
.p-news-single__index {
	padding: 30/16+rem 0;
	border-top: var(--border-assort);
	text-align: center;
	a {
		color: var(--BASECOLOR, #FF552B);
		font-family: var(--Suisse);
		font-size: 20/16+rem;
		letter-spacing: 0.01em;
		text-transform: capitalize;
	}
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
