@use '../Base/config' as config;
@use '../Component/c-btn' as btn;
@use '../Component/c-paragraph' as paragraph;
/*----------------------------------------------------
	...
----------------------------------------------------*/
.p-case__list {
	//margin-top: 42/16+rem;
	//display: grid;
	//gap: 39/16+rem;
	//@include config.pc {
	//	margin-top: 100/16+rem;
	//	display: flex;
	//	flex-wrap: wrap;
	//	//grid-template-columns: 1fr 1fr 1fr;
	//	gap: 52/16+rem 8/16+rem;
	//}
}

.p-service {
	padding-bottom: var(--padding-page);
}
.p-service__lead {
	margin-top: 60/16+rem;
	width: 320/16+rem;

	color: var(--color-assort);
	font-size: 20/16+rem;
	line-height: 1.3;
	letter-spacing: var(--letter-spacing-ja);
	@include config.pc {
		margin-top: 120/16+rem;
		width: 900/16+rem;
		font-size: 32/16+rem;
	}
}
.p-service__wrap {
	margin-top: 24/16+rem;
	border: var(--border-assort-light);
	background: #fff;
	@include config.pc {

	}
}
.p-service-item {
	padding: 20/16+rem 16/16+rem;
	&:not(:last-child) {
		background: var(--border-assort-dot);
	}
	@include config.pc {
		padding: 58/16+rem 54/16+rem 64/16+rem 88/16+rem;
	}
}
.p-service-item__head {
	position: relative;
	display: flex;
	flex-direction: column;
	@include config.pc {
		flex-direction: row;
	}
}
.p-service-item__no {
	color: var(--BASECOLOR, #FF552B);
	font-family: var(--ITCGaramondW01-BookCn);
	font-size: 20/16+rem;
	@include config.pc {
		position: absolute;
		left: -46/16+rem;
		top: 0.65em;
		font-size: 20/16+rem;
	}
}
.p-service-item__title {
	color: var(--BASECOLOR, #FF552B);
	font-family: var(--ITCGaramondW01-BookCn);
	font-size: 36/16+rem;
	letter-spacing: -0.05em;
	text-transform: capitalize;
	@include config.pc {
		font-size: 64/16+rem;
	}
}
.p-service-item__desc {
	color: var(--LightBlack, #584E49);
	font-size: 12/16+rem;
	line-height: 1.4;
	@include config.pc {
		font-size: 18/16+rem;
	}
}
.p-service-item__list {
	margin-top: 20/16+rem;
	display: flex;
	flex-wrap: wrap;
	@include config.pc {
		margin-top: 26/16+rem;
		gap: 14/16+rem 0;
	}
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
