@use '../Base/config' as config;
@use '../Utility/u-utility' as utility;
/*----------------------------------------------------
	...
----------------------------------------------------*/
.p-top {
	padding-bottom: var(--padding-page);
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
.p-top-mv {
	position: relative;
	color: #fff;
	height: calc(100vh - #{160/16+rem});
	overflow: hidden;
	@include config.sp {
		min-height: 480/16+rem;
	}
	@include config.pc {
		height: 100vh;
	}
	canvas {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		pointer-events: none;
		object-fit: cover;
		//img,
		//svg {
		//	width: 100%;
		//	height: 100%;
		//}
	}
}
.p-top-mv__bg {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	pointer-events: none;
	img,
	svg {
	    width: 100%;
	    height: 100%;
		object-fit: cover;
	}
}
.p-top-mv__noise {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	pointer-events: none;
	mix-blend-mode: multiply;
	background: #fff url(../img/bg-noise.webp);
	z-index: 2;
}
.p-top-mv__wrap {
	position: relative;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	z-index: 3;
	padding: 40/16+rem 15/16+rem 0;
	@include config.pc {
		justify-content: flex-end;
		padding: 0 30/16+rem 32/16+rem;
	}
}
.p-top-mv__typeSP {
	//text-shadow: 1/16+rem 1/16+rem 0 #FF552B;
	font-family: var(--Suisse-Md);
	font-size: 50/16+rem;
	font-weight: 500;
	line-height: 0.9;
	letter-spacing: -0.05em;
	text-transform: capitalize;
	._case {
		padding-left: 2.7em;
	}
	._local {
		padding-left: 0.9em;
	}
	@include config.pc {
		display: none;
	}
}
$delay: 1.2;
$interval: 0.08;
.p-top-mv__typeSP,
.p-top-mv__type {
	p {
		overflow: hidden;
		display: flex;
		> span {
			display: block;
			transform: translate(0, 105%);
			transition: 0.6s var(--easeOutCubic);
			transition-delay: $delay + $interval * 0 + 0s;
			will-change: transform;
			backface-visibility: hidden;
		}
		&:nth-child(2) {
			> span {
				transition-delay: $delay + $interval * 1 + 0s;
			}
		}
		&:nth-child(3) {
			> span {
				transition-delay: $delay + $interval * 2 + 0s;
			}
		}
		&:nth-child(4) {
			> span {
				transition-delay: $delay + $interval * 3 + 0s;
			}
		}
		&:nth-child(5) {
			> span {
				transition-delay: $delay + $interval * 4 + 0s;
			}
		}

	}
	&.is-visible {
		p {
			> span {
				position: relative;
				top: 0.05em;
				transform: translate(0, 0);
			}
		}
	}
}
.p-top-mv__type {
	// text-shadow: 1/16+rem 1/16+rem 0 #FF552B;
	font-family: var(--Suisse-Md);
	font-size: 110/16+rem;
	font-weight: 500;
	line-height: 0.9;
	letter-spacing: -0.05em;
	transform: translate3d(0,10%,0);
	transition: 0.6s var(--easeDuration);
	&.is-visible {
		transform: translate3d(0,0,0);
	}
	._cutting {
		padding-left: 0.75em;
	}
	._from {
		padding-left: 1.0em;
	}
	._local {
		padding-left: 1.2em;
	}
	@include config.sp-tab {
		display: none;
	}
}
.p-top-mv__en {
	margin-top: 30/16+rem;
	text-shadow: 0.5/16+rem 1/16+rem 0 rgba(255, 85, 43, 0.10);
	font-family: var(--Suisse);
	font-size: 12/16+rem;
	font-weight: 500;
	line-height: 130%;
	opacity: 0;
	span {
		opacity: 0;
	}
	@include config.pc {
		margin-top: 0;
		position: absolute;
		width: 244/16+rem;
		//top: 204/16+rem;
		top: calc(50% - #{240/16+rem});
		//left: calc(100% - #{114/16+rem});
		left: calc(100% - #{100/16+rem});
		transform: rotate(90deg);
		transform-origin: left top;
		//white-space: nowrap;
	}
}
.p-top-mv__ja {
	margin-top: 10/16+rem;
	font-size: 25/16+rem;
	opacity: 0;
	span {
		opacity: 0;
	}
	//opacity: 0;
	//.p-top-mv__en.is-visible + &,
	//&.is-visible {
	//	opacity: 1;
	//	transition: var(--easeDuration) var(--easeOutTheme) $delay+0.5s;
	//}
	@include config.pc {
		margin-top: 0;
		position: absolute;
		right: 24/16+rem;
		bottom: 38/16+rem;
		font-size: 25/16+rem;
		letter-spacing: var(--letter-spacing-ja);
	}
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
.p-top-promise {
	position: relative;
}

.p-top-promise__telop {
	margin-top: 20/16+rem;
	padding: 12/16+rem 0;
	display: flex;
	flex-shrink: 0;
	border-top: var(--border-assort-dot);
	border-bottom: var(--border-assort);
	color: #FF552B;
	font-size: 24/16+rem;
	font-weight: 500;
	line-height: 1.3;
	white-space: nowrap;
	p {
		will-change: transform;
		animation: loopLeft linear 20s infinite;
	}
	overflow: hidden;
	@include config.pc {
		margin-top: 40/16+rem;
		padding: 14/16+rem 0 10/16+rem;
		font-size: 45/16+rem;
		p {
			animation-duration: 40s;
		}
	}
}
.p-top-promise__wrap {
	margin-top: 100/16+rem;
	position: relative;
	@include config.sp-tab {
		padding: 20/16+rem 0 60/16+rem;
	}
	@include config.tab {
		width: 600/16+rem;
		margin-inline: auto;
	}
	@include config.pc {
		margin-top: 36/16+rem;
		margin-inline: auto;
		width: 880/16+rem;
	}
}
.p-top-promise__block {
	position: relative;
	padding: 0 15/16+rem;
	@include config.pc {
		width: 100%;
	}
}
.p-top-promise__block[aria-hidden="true"] {
	filter: grayscale(100%);
	opacity: 0.5;
	position: absolute;
	top: 0;
	@include config.sp-tab {
		display: none;
		&:nth-child(2) {
			display: block;
			top: 40/16+rem;
			transform: scale(1.5);
			opacity: 0.1;
			.p-top-promise__type {
				display: none;
			}
			.p-top-promise__title {
				display: none;
			}
			.p-top-promise__message {
			}
			p:nth-child(2) {
				position: relative;
				top: -60/16+rem;
			}

		}
	}
	@include config.pc {
		transform: translateX(-105%);
		&:nth-child(3) {
			position: absolute;
			left: calc(50% - #{180/16+rem});
			width: calc(50vw + #{180/16+rem});
			height: 150%;
			overflow: hidden;
			opacity: 0.1;
			transform: none;
			.p-top-promise__type {
				display: none;
			}
			.p-top-promise__title {
				display: none;
			}
			.p-top-promise__message {
				transform: scale(1.4);
				transform-origin: left top;
			}
		}
	}
}
.p-top-promise__type {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	top: -62/16+rem;
	left: calc(100% - #{14/16+rem});
	transform: rotate(90deg);
	transform-origin: left top;
	color: #FF552B;
	font-size: 40/16+rem;
	font-weight: 500;
	line-height: 1.3;
	letter-spacing: var(--letter-spacing-ja);
	pointer-events: none;
	white-space: nowrap;
	@include config.pc {
		top: 100/16+rem;
		left: calc(100% - #{30/16+rem});
		font-size: 74/16+rem;
	}
}
.p-top-promise__title {
	color: var(--color-assort);
	font-family: var(--ITCGaramondW01-BookCn);
	font-size: 24/16+rem;
	font-weight: 400;
	letter-spacing: 0.05em;
	transform: translate3d(#{1em},0,0);
	opacity: 0;
	&.is-visible,
	.is-visible & {
		opacity: 1;
		transition: 1s var(--easeOutTheme) 0.05s;
		transform: translate3d(0,0,0);
		letter-spacing: -0.05em;
	}
	@include config.pc {
		font-size: 36/16+rem;
		text-align: center;
	}
}
.p-top-promise__message {
	margin-top: 26/16+rem;
	display: flex;
	flex-direction: column;
	gap: 30/16+rem;
	color: #FF552B;
	font-size: 16/16+rem;
	line-height: 1.3;
	letter-spacing: var(--letter-spacing-ja);
	&.p-top-promise__message {
		transition-delay: .5s !important;
		transition-duration: 2s;
	}
	@include config.sp-tab {
		p:nth-child(1) {
			width: 247/16+rem;
		}
	}
	@include config.pc {
		gap: 46/16+rem;
		margin-top: 120/16+rem;
		font-size: 25/16+rem;
	}
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
.p-top-service {
	margin-top: 100/16+rem;
	position: relative;
	overflow: hidden;
	@include config.pc {
		margin-top: 100/16+rem;
		padding-top: 25vh;
	}
}
.p-top-service__bg {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	pointer-events: none;
	img,
	svg {
	    width: 100%;
	    height: auto;
	}
	@include config.pc {
		top: 72/16+rem;
	}
}
.p-top-service__head {
	p {
		position: relative;
		z-index: 5;
	}
	@include config.pc {
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}
.p-top-service__type {
	display: none;
	flex-direction: column;
	@include config.pc {
		display: flex;
		div {
			margin-inline: calc(50% - 50vw);
			width: calc(50vw + #{67.5/1440*100vw});
			align-self: flex-end;
			flex-shrink: 0;
		}
		img {
			width: 135/1440*100vw;
			align-self: 269 /768;
		}
	}
}
.p-top-service__typeSP {
	display: flex;
	flex-direction: column;
	writing-mode: vertical-rl;
	color: #FF552B;
	font-size: 36/16+rem;
	line-height: 1.1;
	//transform: translate3d(0,#{1em},0);
	opacity: 0;
	span {
		display: inline-flex;
		transform: translate3d(0, 0.7em, 0);
	}

	&.is-visible,
	.is-visible & {
		opacity: 1;
		transition: 1s var(--easeOutTheme) 0.05s;
		//transform: translate3d(0,0,0);
		//letter-spacing: -0.04em;
		//letter-spacing: 0.1em;
		//line-height: 1.1;
		span {
			transition: 1s var(--easeOutTheme) 0.1s;
			transform: translate3d(0, 0, 0);
		}
		@for $i from 1 through 10 {
			span:nth-child(#{$i}) {
				transition-delay: #{$i * 0.02}s !important;
			}
		}
	}
	@include config.pc {
		display: none;
	}
}

.p-top-service__title {
	margin-top: -10/16+rem;
	color: #FF552B;
	font-family: var(--ITCGaramondW01-BookCn);
	font-size: 48/16+rem;
	font-weight: 400;
	line-height: 0.9;
	letter-spacing: 0.04em;
	text-transform: capitalize;
	transform: translate3d(#{1em},0,0);
	opacity: 0;
	&.is-visible,
	.is-visible & {
		opacity: 1;
		transition: 1s var(--easeOutTheme) 0.05s;
		transform: translate3d(0,0,0);
		letter-spacing: -0.04em;
	}
	@include config.sp-tab {
		text-align: right;
		padding-right: 100/16+rem;
	}
	@include config.pc {
		//margin-top: -10/16+rem;
		margin-top: 25vh;
		padding-left: 120/16+rem;
		font-size: 96/16+rem;
	}
}
.p-top-service__items {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 50/16+rem;
	@include config.sp-tab {
		width: 250/16+rem;
		margin-left: auto;
	}
	@include config.tab {
		width: 50%;
	}
	@include config.pc {
		gap: 0;
		padding-bottom: calc(50% - #{192/16+rem});
		//padding-bottom: 50vh;
	}
}
.p-top-service-item {
	color: var(--color-assort);
	@include config.pc {
		transform: scale(1.2) translate3d(0, #{50/16+rem}, 0);
		transition: .8s var(--easeOutQuart);
		transform-origin: left top;
		&.is-visible {
			transform: scale(1) translate3d(0, 0, 0);
		}
	}
}
.p-top-service-item:nth-child(1) {
	@include config.pc {
		width: 562/16+rem;
		margin-top: -10/16+rem;
		margin-left: -28/16+rem;
		.p-top-service-item__wrap {
			padding: 20/16+rem 0 0 80/16+rem;
		}
	}
}
.p-top-service-item:nth-child(2) {
	.p-top-service-item__pic {
		img {
			aspect-ratio: 500 / 320;
		}
		@include config.pc {
			img {
				aspect-ratio: 880 / 560;
			}
		}
	}
	@include config.pc {
		margin-left: auto;
		margin-top: -30/16+rem;
		width: 440/16+rem;
		transform-origin: right top;
	}
}
.p-top-service-item:nth-child(3) {
	.p-top-service-item__pic {
		img {
			aspect-ratio: 500 / 323;
		}
		@include config.pc {
			img {
				aspect-ratio: 656 / 836;
			}
		}
	}
	@include config.pc {
		width: 328/16+rem;
		margin-top: -106/16+rem;
		margin-left: 180/16+rem;
	}
}
.p-top-service-item__pic {
	position: relative;
	img {
		height: auto;
		aspect-ratio: 500 / 258;
		object-fit: cover;
		opacity: 0;
	}
	canvas {
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		pointer-events: none;
	}
	@include config.pc {
		img {
			aspect-ratio: 1124 / 580;
		}
	}
}
.p-top-service-item__wrap {
	padding: 12/16+rem 0 0 14/16+rem;
	@include config.pc {
		padding: 20/16+rem 0 0;
	}
}
.p-top-service-item__title {
	font-size: 20/16+rem;
	letter-spacing: var(--letter-spacing-ja);
	@include config.pc {
		font-size: 32/16+rem;
	}
}
.p-top-service-item__desc {
	margin-top: 4/16+rem;
	font-size: 12/16+rem;
	line-height: 1.3;
	@include config.pc {
		margin-top: 8/16+rem;
		width: 324/16+rem;
		font-size: 14/16+rem;
		line-height: 1.7;
	}
}
.p-top-service__more {
	margin-top: 60/16+rem;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 6/16+rem;

	color: #FF552B;
	font-size: 20/16+rem;
	line-height: 1.3;
	@include config.sp-tab {
		p {
			align-self: flex-start;
		}
	}
	@include config.pc {
		margin-top: 15rem;
		flex-direction: row;
		justify-content: flex-end;
		text-align: right;
		font-size: 24/16+rem;
	}
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
.p-top-creative {
	padding-top: var(--padding-section);
	@include config.pc {
		padding-left: 65/16+rem;
	}
}
.p-top-creative__head {}
.p-top-creative__figure {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	pointer-events: none;
	overflow: hidden;
	img {
		aspect-ratio: 16 / 9;
		object-fit: cover;
	}
	@include config.sp-tab {
		display: none;
	}
	figure {
		position: absolute;
		width: 328/16+rem;
		opacity: 0;
		@extend .u-color-blend;
	}
}
.p-top-creative__list {
	margin-top: 14/16+rem;
	@include config.sp-tab {
		padding-left: 15/16+rem;
	}
	@include config.pc {
		margin-top: 14/16+rem;
		padding-left: 335/16+rem;
	}
}
.p-top-creative__more {
	margin-top: var(--padding-block-sm);
	text-align: right;
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
.p-top-partnership {
	padding-top: var(--padding-section);
	overflow: hidden;
	@include config.pc {
		padding-left: 65/16+rem;
	}
}
.p-top-partnership__head {}
.p-top-partnership__body {
	padding: 25/16+rem 15/16+rem 0 30/16+rem;
	@include config.sp-tab {
		margin-inline: calc(50% - 50vw);
		white-space: nowrap;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
		-ms-overflow-style: -ms-autohiding-scrollbar;
		&::-webkit-scrollbar {
		  display: none;
		  -webkit-appearance: none;
		}
	}
	@include config.pc {
		padding: 30/16+rem 0 0 335/16+rem;
	}
}
.p-top-partnership__blocks {
	display: flex;
	//justify-content: space-between;
	justify-content: flex-end;
	gap: 30/16+rem;
	@include config.sp-tab {
		//width: 396/16+rem;
	}
	@include config.pc {
		gap: 180/16+rem;
		justify-content: flex-start;
	}
}
.p-top-partnership-block {
	display: flex;
	flex-direction: column;
	gap: 8/16+rem;
	color: var(--color-assort);
	@include config.sp-tab {
		flex-shrink: 0;
	}
	@include config.pc {
		flex-direction: row;
		gap: 74/16+rem;
	}
}
.p-top-partnership-block__head {
	font-family: var(--Suisse);
	font-size: 16/16+rem;
	font-weight: 400;
	line-height: 0.9;
	letter-spacing: -0.09em;
	@include config.pc {
		font-size: 24/16+rem;
	}
}
.p-top-partnership-block__body {
	margin-top: 16/16+rem;
	display: flex;
	gap: 20/16+rem;
	font-family: var(--Suisse);
	font-size: 12/16+rem;
	font-weight: 400;
	line-height: 0.9;
	letter-spacing: -0.09em;
	text-transform: capitalize;
	@include config.sp-tab {
		ul {
			flex-shrink: 0;
		}
	}
	@include config.pc {
		margin-top: 0;
		gap: 128/16+rem;
		font-size: 20/16+rem;
	}
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
.p-top-voice {
	padding-top: var(--padding-section);
	@include config.pc {
		padding-left: 65/16+rem;
	}
}
.p-top-voice__head {}
.p-top-voice__list {
	padding: 50/16+rem 0 0 0;
	display: grid;
	gap: 24/16+rem;
	@include config.pc {
		padding: 50/16+rem 0 0 61/16+rem;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 8/16+rem;
	}
}
.p-top-voice__more {
	margin-top: var(--padding-block-sm);
	text-align: right;
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
.p-top-media {
	padding-top: var(--padding-section);
	@include config.pc {
		padding-top: var(--padding-page);
	}
}
.p-top-media__head {
	position: relative;
	background: var(--border-assort-dot);
	background-position: left top;
	@include config.pc {
		display: flex;
		gap: 26/16+rem;
	}
}
.p-top-media__semicircle {
	width: 70/16+rem;
	position: absolute;
	top: -18/16+rem;
	svg {
	    width: 100%;
	    height: auto;
	}
	@include config.pc {
		width: 176/16+rem;
		top: -45/16+rem;
	}
}
.p-top-media__title {
	padding: 10/16+rem 0 0 76/16+rem;
	color: #FF552B;
	font-family: var(--ITCGaramondW01-BookCn);
	font-size: 48/16+rem;
	font-weight: 400;
	line-height: 0.9;
	letter-spacing: -0.05em;
	text-transform: capitalize;
	@include config.pc {
		padding: 10/16+rem 0 0 240/16+rem;
		font-size: 96/16+rem;
	}
}
.p-top-media__desc {
	padding: 20/16+rem 0 0;
	color: #FF552B;
	text-align: center;
	font-size: 12/16+rem;
	line-height: 1.7;
	letter-spacing: var(--letter-spacing-ja);
	@include config.pc {
		width: 444/16+rem;
		font-size: 14/16+rem;
	}
}
.p-top-media__wrap {
	margin-top: 34/16+rem;
	@include config.pc {
		display: flex;
		margin-top: 82/16+rem;
		background: var(--border-assort-dot);
	}
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
.p-top-media-channel {
	position: relative;
	@include config.sp-tab {
		margin-inline: calc(50% - 50vw);
		height: 445/16+rem;
	}
	@include config.pc {
		flex: 1;
	}
}
.p-top-media-channel__bg {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	pointer-events: none;
	svg,
	img {
		width: 100%;
	}
	@include config.tab {
		width: 375/16+rem;
		left: -10/16+rem;
	}
	@include config.pc {
		width: 704/16+rem;
	}
}
.p-top-media-channel__title {
	padding: 0 0 0 15/16+rem;
	color: #FF552B;
	font-family: var(--Suisse);
	font-size: 20/16+rem;
	font-weight: 400;
	line-height: 0.9;
	letter-spacing: -0.05em;
	text-transform: capitalize;
	@include config.pc {
		padding: 0 0 0 64/16+rem;
		font-size: 24/16+rem;
	}
}
.p-top-media-channel__video {
	position: relative;
	margin: 8/16+rem 0 0 15/16+rem;
	@extend .u-color-blend;
	iframe {
		width: 360/16+rem;
		height: auto;
		aspect-ratio: 16 / 9;
		vertical-align: bottom;
	}
	@include config.pc {
		margin: 12/16+rem 0 0 66/16+rem;
		iframe {
			width: 438/16+rem;
		}
	}
}
.p-top-media-channel__wrap {
	position: relative;
	padding: 60/16+rem 15/16+rem 0;
	display: flex;
	gap: 18/16+rem;
	@include config.pc {
		padding: 40/16+rem 0 0 66/16+rem;
		gap: 75/16+rem;
	}
}
.p-top-media-channel__ico {
	padding-top: 20/16+rem;
	width: 42/16+rem;
	svg {
	    width: 100%;
	    height: auto;
	}
	@include config.pc {
		padding-top: 22/16+rem;
	}
}
.p-top-media-channel__list {
	display: flex;
	gap: 12/16+rem;
	@include config.pc {
		gap: 32/16+rem;
	}
}
.p-top-media-channel__profile {
	width: 80/16+rem;
	display: flex;
	flex-direction: column;
	gap: 6/16+rem;
	text-align: center;

	color: #FFF;
	font-size: 12/16+rem;
	letter-spacing: 0.05em;
	@include config.pc {}
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
.p-top-media-blog {
	margin-top: 35/16+rem;
	@include config.pc {
		margin-top: 0;
		width: 880/16+rem;
	}
}
.p-top-media-blog__title {
	color: #FF552B;
	font-family: var(--Suisse);
	font-size: 20/16+rem;
	font-weight: 400;
	line-height: 0.9;
	letter-spacing: -0.05em;
	text-transform: capitalize;
	@include config.pc {
		padding-left: 64/16+rem;
		font-size: 24/16+rem;
	}
}
.p-top-media-blog__list {}
.p-top-media-blog__more {
	margin-top: var(--padding-block-sm);
	text-align: right;
}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
.p-top-graphic {}
.p-top-graphic__title {}
.p-top-graphic__type {}
.p-top-graphic__type {}
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/

